---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-[#0A0908] text-white">
    <Header />
    <main class="mx-5 sm:mx-auto max-w-2xl">
      <ul class="space-y-3">
        {
          posts
            .map((post) => {
              let html = null;

              switch (post.data.type) {
                case "link":
                  html = (
                    <li>
                      <a
                        class="text-lg flex space-x-3"
                        target="_blank"
                        title={post.data.title}
                        href={post.data.url}
                      >
                        <span>{post.data.title}</span>
                        <span class="flex">
                          {post.data.tags.map((tag) => (
                            <span class="rounded-md border-white border-[1px] px-2 text-[0.7rem]">
                              {tag}
                            </span>
                          ))}
                        </span>
                      </a>
                    </li>
                  );
                  break;
              }

              return html;
            })
            .filter((html) => html !== null)
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
